.side-menu {
  overflow: auto;
  height: 100%;
  ul {
	margin-top: 50px;
	list-style-type: none;
	padding-left: 0px;
  }
  ul li a {
	color: #555;
	display: block;
	padding: 10px;
  }
  ul li a:hover {
	text-decoration: none;
	background-color: rgba($primary, .05);
  }
}

.side-menu.dark {
  background-color: #555;
  ul li a {
	color: #fff;
  }
  ul li a:hover {
	background-color: rgba(#000, .07);
  }
}
