.category-label-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  a {
	display: block;
	text-decoration: none;
	margin-bottom: 5px;
  }
  .category-label:not(:first-child) {
	margin-top: 10px;
  }
  .category-label {
	width: 200px;
	max-width: 100%;
	background-color: rgba(#000, .8);
	color: #fff;
	text-align: center;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 4px;
	border: solid 2px #fff;
	h5 {
	  font-size: 12pt;
	  font-weight: bolder;
	  margin: 0;
	}
  }
}

.category-item {
  height: 100%;
  background-color: gold;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.category-mobile {
  margin-bottom: 10px;
}

.category-mobile-item {
  background-size: 99% 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: $primary;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .fa {
	margin-right: 10px;
  }
  .title, .count {
	text-transform: uppercase;
	font-size: 12pt;
	font-weight: bold;
  }
}
