.footer {
  border-top: 1px solid #555;
  margin-top: 20px;

  .gadget-snap-container {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	@media (max-width: 768px) {
	  flex-direction: column;
	}
	.gadget-sprite {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-right: 10px;
	}

	.gadget-text {
	  display: flex;
	  align-items: center;
	  justify-content: center;

	  h4 {
		font-weight: bold;
	  }

	  a {
		color: #000;
		font-weight: 500;
	  }
	}
  }

  .footer-nav {
	border-top: 1px solid #555;
	padding-top: 20px;

	.navbar {
	  box-shadow: none;
	  padding: 0px;
	  .nav-item {
		margin-right: 20px;
	  }
	  .mr-auto {
		margin-left: 20px;
	  }
	}
  }

  .footer-links {
	margin-top: 20px;

	.footer-link-item-container {
	  margin-top: 20px;
	  padding-left: 10px;
	}
	.footer-link-item-container:not(:last-child) {
	  @media (max-width: 768px) {
		padding-bottom: 10px;
		border-bottom: solid 1px #777;
	  }
	  @media (min-width: 768px) {
		border-right: solid 1px #777;
	  }
	}

	.footer-support-item {
	  display: flex;
	  flex-direction: row;
	  margin-bottom: 5px;
	  .icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;

		.fa {
		  font-size: 14pt;
		  color: #666;
		}
	  }
	  .details {
		display: flex;
		flex-direction: column;
		font-size: 10pt;
		color: #777;
		b {
		  margin: 0;
		}
		span {
		  margin-top: -2px;
		}
	  }
	}

	.title {
	  font-size: 12pt;
	  font-weight: 500;
	  margin-bottom: 20px;
	}

	.site-map {
	  a {
		color: #888;
		font-size: 10pt;
	  }
	}
  }
}
