.home {
  min-height: 100%;
  width: 100%;
}

.home-carousel {
  .carousel-indicators {
	justify-content: flex-end;
	bottom: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
	li {
	  width: 14px;
	  height: 14px;
	  border-radius: 7px;
	  margin: auto 2px;
	  background-color: #aaa;
	}
	li.active {
	  width: 16px;
	  height: 16px;
	  border-radius: 8px;
	  background-color: $primary;
	}
  }
}

.item-image-carousel {
  width: 100%;
  max-height: 300px;
  min-height: 150px;
  margin-top: 20px;
}

.home-footer {
  border-top: .5px solid #555;
  padding-top: 50px;
  .item {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	.arrow-next {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  text-align: center;
	  padding: 10px;
	  margin-right: 5px;
	  .fa {
		font-size: 14pt;
		color: #888;
	  }
	}
	h3 {
	  font-size: 14pt;
	  font-weight: bold;
	}
  }
  .owl-stage {
	display: flex;
	@media (min-width: 992px) {
	  width: auto !important;
	}
	.owl-item {
	  display: flex;
	  .item {
		width:100%;
		justify-content: space-between;
	  }
	}
  }
}
