@import 'helpers';
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";
@import "./font-awesome/font-awesome";
@import "./side_menu";
@import "./home";
@import "./categories";
@import "./product";
@import "./footer";
@import "./page_items";
@import "./page_item";
@import "./page_post";
@import "./page_profile";
@import "./messages";

.navbar {
  box-shadow: 0 .1px .1px rgba(0, 0, 0, .3);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
.row-eq-height > [class^=col] {
  display: flex;
  flex-direction: column;
}

.row-eq-height > [class^=col]:last-of-type div {
  margin: 10px;
}

.row-eq-height > [class^=col]:last-of-type div:first-of-type {
  margin-top: 0;
}

.row-eq-height > [class^=col]:last-of-type div:last-of-type {
  margin-bottom: 0;
}

.row-eq-height > [class^=col]:first-of-type .black {
  flex-grow: 1;
}
