.messages-online {
  overflow: scroll;
  height: 100%;
  .messages-online-item-list {
	padding: 0;
	display: flex;

	.image-container {
	  margin-right: 5px;

	  .image {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	  }
	}
	.text-container {
	  min-width: 0;
	  .name-time {
		display: flex;
		.name {
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
	  }
	}
  }
}
