.page-profile {
  .tab-orders {
	table {
	  margin-top: 10px;
	}
	th {
	  font-size: 10pt;
	  text-align: center;
	}
	td p {
	  margin: 0;
	}
	@media (max-width: 767px) {
	  thead tr {
		display: none;
	  }
	  tbody tr {
		border: 2px solid #555;
	  }
	  tbody td {
		display: flex;
		align-items: center;
		flex-direction: column;
	  }
	}
	tbody td {
	  text-align: center;
	  justify-content: center;
	  vertical-align: middle;
	  img {
		width: 50px;
		height: 50px;
		margin-right: 5px;
	  }
	}
	.username {
	  color: $primary;
	  font-weight: bold;
	  font-size: 10pt;
	}
  }
  .title {
	font-weight: bold;
	margin: 0;
  }
  .hint {
	color: #888;
	font-size: 10pt;
  }
  .info {
	.nav-item a {
	  color: #666;
	}
	.nav-item {
	}
	.nav-item a:hover {
	  background-color: #eee;
	}
	.nav-item.active {
	  border-bottom: 2px solid $primary;
	}
	.nav-item .active {
	  border: none;
	  background-color: transparent;
	}
  }

  .cart-banner {
	background-size: cover;
	background-position: center;

	.profile-image {
	  width: 100%;
	  height: auto;
	  padding: 2px;
	  background-color: #fff;
	  img {
		width: 100%;
	  }
	  @media (min-width: 768px) {
		transform: translate(0, 30%);
	  }
	  @media (max-width: 767px) {
		margin-top: 20px;
		margin-bottom: 20px;
	  }
	}

	.header-info {
	  color: #ccc;
	  margin-bottom: 10px;
	  @media (max-width: 767px) {
		margin-bottom: 20px;
	  }
	  .name {
		color: #fff;
		font-weight: bold;
		margin: 0;
	  }
	  .username {
		color: $primary;
		font-weight: 700;
		margin-right: 10px;
	  }
	  .divider {
		margin-right: 10px;
	  }
	}
  }

}
