.page-item {

  .item-rent {
	margin-top: 10px;

	.amount {
	  font-weight: 500;
	  font-size: 18pt;
	  text-align: right;
	}
  }
  .user-details {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #bbb;
	@media (max-width: 768px) {
	  margin-top: 20px;
	  border-top: 1px solid #bbb;
	}

	.user-info-and-actions {
	  display: flex;
	  width: 100%;
	  flex-direction: column;
	  justify-content: space-between;
	}
	.user-info-container {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  width: 100%;
	  p {
		font-weight: 700;
		.user-name {
		  margin-right: 3px;
		}
		.user-username {
		  color: $primary;
		}
	  }
	}
	.profile-image {
	  margin-right: 5px;
	  width: 80px;
	  height: 80%;
	  border-radius: 5px;
	}
  }

  @media (min-width: 768px) {
	.review-text, .price, .name, .edit a {
	  color: #fff !important;
	}
	.item-body {
	  margin-top: 50px !important;
	}
  }

  .item-details {
	margin-top: 10px;
	.name {
	  font-size: 20pt;
	  font-weight: bold;
	  margin-bottom: 0;
	}
	.price {
	  font-size: 12pt;
	  font-weight: 800;
	  margin-bottom: 0;
	}
	.review-stars {
	  float: left;
	  margin-right: 5px;
	}
  }
  .idcon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
  .item-body {
	margin-top: 20px;
  }
  .edit a {
	color: #555;
  }
  @media (min-width: 768px) and (max-width: 991px) {
	.left-container {
	  flex: 0 0 45%;
	  max-width: 45%;
	}
	.right-container {
	  flex: 0 0 55%;
	  max-width: 55%;
	}
  }

  .header-bg {
	position: absolute;
	top: 49px;
	left: 0;
	right: 0;
	background-color: #999999;
	height: 170px;
	background-image: url('../images/banner-image.png');
  }
  .image-slide {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	.item {
	  height: 250px;
	  background-color: #eee;
	}
  }
  .image-slide-preview {
	display: flex;
	flex-direction: row;
	justify-content: center;
	.item-preview {
	  width: 25%;
	  height: 75px;
	  background-color: #eee;
	  margin-top: 3px;
	  cursor: pointer;
	}
	.item-preview.active {
	  border: solid 1px $primary;
	}
	.item-preview:not(:last-child) {
	  margin-right: 3px;
	}
  }
}
