.page-post {
  .upload-image {
	.image-preview-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}
	.image-preview {
	  cursor: pointer;
	  width: 48%;
	  height: 0;
	  padding-bottom: 48%;
	  background-color: #eee;
	  border: 2px dashed #bbb;
	  margin: 1%;
	  position: relative;

	  .feature-photo {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #f00;
		color: #fff;
		padding: 0 5px;
		font-size: 10pt;
	  }
	}
  }
  .post-nav {
	display: flex;
	.post-nav-item-container {
	  display: flex;
	  flex-direction: row;
	}
	.post-nav-item {
	  width: 50%;
	  padding: 15px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  cursor: pointer;
	}

	@media (max-width: 767px) {
	  .post-nav-item {
		padding-top: 10px;
		padding-bottom: 10px;
		.page-indicator, .sub-title {
		  display: none;
		}
		.text-container {
		  width: 100%;
		}
		.title {
		  font-size: 10pt !important;
		  text-align: center !important;
		}
	  }
	}
	.post-nav-item.active {
	  border-bottom: 3px solid #555;
	}
	.active {
	  .title, .sub-title {
		color: #555;
	  }
	  .page-indicator {
		border: none;
		background-color: #555;
		span {
		  color: #fff;
		}
	  }
	}
	.page-indicator {
	  margin-right: 10px;
	  width: 50px;
	  height: 50px;
	  border: solid 2px #888;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-radius: 25px;
	  span {
		color: #888;
	  }

	}
	.text-container {
	  color: #888;
	  .title {
		font-size: 13pt;
		font-weight: bold;
		margin-bottom: 0;
	  }
	  .sub-title {
		font-size: 10pt;
		margin-bottom: 0px;
	  }
	}
  }

  @media (min-width: 992px) {
	.nav-link {
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
	.container {
	  max-width: 768px;
	}
  }
}
