.product-list-item {
  width: 100%;
  margin-bottom: 15px;
  .image {
	width: 100%;
	height: 270px;
	@media (min-width: 768px) and (max-width: 991px) {
	  height: 400px;
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
  }
  .product-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.heart {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  .fa, span {
		margin: 5px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	  }
	}
  }
}

.list-item-md {
  @media (min-width: 992px) {
	flex: 0 0 20%;
	max-width: 20%;
  }
}

.list-item-md:last-child {
  @media (max-width: 992px) {
	display: none;
  }
}
