<%web_name='Deown'%>
<!DOCTYPE html>
<html lang="en">
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title><%=web_name%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<meta name="description" content="react-boilerplate">
	<meta name="msapplication-TileColor" content="#222">
	<meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="<%=web_name%>">
	<meta name="application-name" content="<%=web_name%>">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#222">
	<link rel="apple-touch-icon" sizes="57x57" href="./assets/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./assets/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./assets/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./assets/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./assets/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./assets/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./assets/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="./assets/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./assets/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./assets/icons/favicon-16x16.png">
	<link rel="manifest" href="./assets/manifest.json">
</head>
<body>
<div id="app-body"></div>
<noscript>Your browser does not support JavaScript!</noscript>
</body>
</html>
